Rules of Speed21:

	1. The player places a bet and then receives a set of cards from the dealer (from a standard 52 card deck) until they bust at the limit of 21. 

	2. The final score is the sum of the cards (up to a maximum of 21) prior to the final card that caused the bust. 

	3. The house then deals on their own behalf against the player .. Highest score wins! A draw is a no contest and the bet is returned to the player. 


Points:
	An Ace is always worth 1
	
	Jack, Queen and King are 10
	
	The other cards are worth their face value. 